<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711640513368-rdg5grgugkbsdqb7h35es13114gb5oj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711640513368-rdg5grgugkbsdqb7h35es13114gb5oj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAPjL7O7QJqeXmXJcotD0sIXEevgJxoWLw</string>
	<key>GCM_SENDER_ID</key>
	<string>711640513368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.coreDatatest</string>
	<key>PROJECT_ID</key>
	<string>warehouseapp-579e4</string>
	<key>STORAGE_BUCKET</key>
	<string>warehouseapp-579e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711640513368:ios:032b5dd123753aaae2c32d</string>
</dict>
</plist>